<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>
	<h:head />
	<h:body>
		<h:panelGroup id="wrapperPanel">
    		<h:panelGroup id="student" rendered="#{not empty studentHistoryViewModelBean.studenthskaId}">
       			<ui:include src="commitHistoryStudent.xhtml" />
   			</h:panelGroup>
   			<h:panelGroup id="project" rendered="#{not empty projectHistoryModelBean.totalContributors}">
       			<ui:include src="commitHistoryProject.xhtml" />
   			</h:panelGroup>
		</h:panelGroup>
	</h:body>
</f:view>
