<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>
	<h:head />
	<h:body>
	<p:panel header="General Data">
		<h:panelGrid id="grid" columns="4" cellpadding="5" >
			<h:outputText value="Anzahl Contributors:" />
			<h:outputText value="#{studentHistoryViewModelBean.numberOfContributors}"/>
			<h:outputText value="" />
			<h:outputText value="" />
			
			
			<h:outputText value="Anzahl Total LOC:" />
			<h:outputText value="#{studentHistoryViewModelBean.numberOfTotalAdditions}" />
			<h:outputText value="Individuelle LOC:" />
			<h:outputText value="#{studentHistoryViewModelBean.locAdditions}" />
			
			<h:outputText value="Anzahl Total gelöschte LOC:" />
			<h:outputText value="#{studentHistoryViewModelBean.numberOfTotalDeletions}" />
			<h:outputText value="Individuelle gelösche LOC:" />
			<h:outputText value="#{studentHistoryViewModelBean.locDeletions}" />
			
			<h:outputText value="Anzahl Total Commits:" />
			<h:outputText value="#{studentHistoryViewModelBean.numberOfTotalCommits}"/>
			<h:outputText value="Individuelle Commits:" />
			<h:outputText value="#{studentHistoryViewModelBean.numberOfCommits}"/>
		</h:panelGrid>
	</p:panel>
			
	<h:form>
		<h:outputText value="#{studentHistoryViewModelBean.noContributor}"/>
 		<p:chart type="line" model="#{studentHistoryViewModelBean.lineCommitsHistory}" style="height:300px;" responsive="true" actionListener="#{studentHistoryViewModelBean.fatal}"/>
 	</h:form>
		
	</h:body>
</f:view>
